<footer>
  <div class="footer">
    <div class="container">
      <p class="text-muted">
        COG-Web Beta
	(commit
	<a href="https://github.com/asayler/COG-Web/commit/{{site.git.last_commit.long_sha}}"
	   target="_blank">{{site.git.last_commit.short_sha}}</a>)
	|
        Code and license on
        <a href="https://github.com/asayler/COG-Web" target="_blank">GitHub</a>
	|
        Built by
	<a href="http://www.andysayler.com" target="_blank">Andy Sayler</a>
	in Boulder, CO
      </p>
    </div>
  </div>
</footer>
