<footer>
  <div class="footer">
    <div class="container">
      <p class="text-muted">
        COG-Web Beta (commit
	    <a href="{{site.web_repo_url}}/commit/{{site.git.last_commit.long_sha}}"
	       target="_blank">{{site.git.last_commit.short_sha}}</a>)
	    |
        Code and license on
        <a href="{{site.web_repo_url}}" target="_blank">GitHub</a>
	    |
        Built by
	    <a href="http://www.andysayler.com" target="_blank">Andy Sayler</a> and
        <a href="CONTRIBUTORS">Others</a>
	    in Boulder, CO
      </p>
    </div>
  </div>
</footer>
